

.footer {

    .custom-layout(row, center);
    font-family: cursive;
    padding: 30px;
    

    @media @mobile {
        .custom-layout(column, space-between);
        align-items: center;
        margin: auto;
        width: 80%;
    }


    #endofpage {

    .custom-layout(row, space-between);
    align-items: center;
    text-align: center; 
    font-size: 25px;
    font-weight: 900;
    margin: auto;
    color: black;
    padding-right: 20px;
   


    #tag {
        @media @mobile {
            display: none;
        }
    }


    

        i  {
            
            color:black;
            margin: 15px;
            padding: 20px;
    
    
        }
    
        
    }
   

}







 
   


 
     
  
  
    
